<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour Details</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/script.js}" defer></script>
    <script th:src="@{/js/detailtour.js}" defer></script>
</head>
<body>
<section th:replace="~{/main_component/header :: header}"></section>

<section class="container my-4">
    <h2>Tour Detail</h2>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title" th:text="${tour.getDetailRoute().stopLocation}">Ha Noi - Pho Co - Hang Khay - Bun Cha Obama</h2>
            <div class="card-text">
                <p><strong>Start Date:</strong> <span th:text="${tour.getStartDate()}">2024-05-31</span></p>
                <p><strong>Price:</strong> <span th:text="${tour.tourPrice}">$3.0</span></p>
                <p><strong>Description:</strong></p>
                <ul th:with="days=${T(com.example.tourmanagement.others.Day).parseTourDescription(tour.getTourDescription())}">
                    <li th:each="day : ${days}" th:text="${day}"></li>
                </ul>
            </div>
            <a th:href="@{/book/{id}(id=${tour.id})}" class="button">Book Now</a>
        </div>
    </div>

    <h3 class="mb-3">Comments</h3>
    <div class="list-group">
        <div th:each="feedback : ${feedbacks}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${feedback.getUserModel().getFullName()}">User Full Name</h5>
                <small class="text-muted">Rating:
                    <div class="star-rating" th:data-rating="${feedback.getRating()}"></div>
                </small>
            </div>
            <p class="mb-1" th:text="${feedback.getComment()}">This is a sample comment.</p>
        </div>
    </div>

    <div class="my-4">
        <h3>Add Comment</h3>
        <form th:action="@{/feedback/add}" th:object="${feedback}" method="post" class="form-floating">
            <input type="hidden" name="tourId" th:value="${tour.getId()}"/>

            <div class="form-floating mb-3">
                <textarea class="form-control" id="comment" th:field="*{comment}" placeholder="Write your comment" required></textarea>
                <label for="comment">Comment:</label>
            </div>

            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5" th:field="*{rating}" onclick="updateRatingText('Awesome - 5 stars')"/><label for="star5" title="Awesome - 5 stars"><i class="fas fa-star"></i></label>
                <input type="radio" id="star4" name="rating" value="4" th:field="*{rating}" onclick="updateRatingText('Pretty good - 4 stars')"/><label for="star4" title="Pretty good - 4 stars"><i class="fas fa-star"></i></label>
                <input type="radio" id="star3" name="rating" value="3" th:field="*{rating}" onclick="updateRatingText('Meh - 3 stars')"/><label for="star3" title="Meh - 3 stars"><i class="fas fa-star"></i></label>
                <input type="radio" id="star2" name="rating" value="2" th:field="*{rating}" onclick="updateRatingText('Kinda bad - 2 stars')"/><label for="star2" title="Kinda bad - 2 stars"><i class="fas fa-star"></i></label>
                <input type="radio" id="star1" name="rating" value="1" th:field="*{rating}" onclick="updateRatingText('Sucks big time - 1 star')"/><label for="star1" title="Sucks big time - 1 star"><i class="fas fa-star"></i></label>
                <span id="rating-text" style="padding-left: 10px;"></span>
            </div>

            <div><button type="submit" class="button">Submit Feedback</button></div>
        </form>
    </div>
</section>

<section th:replace="~{/main_component/footer :: footer}"></section>
</body>
</html>
