<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Role Main</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h2>User Role List</h2>
<table border="1">
    <thead>
    <a th:href="@{/user_role/showAddForm}" class="btn btn-primary"> Add new User Role</a>


    <span th:text="${successMessage}"></span>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>User list</th>

    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of departments -->
    <tr th:each="user_role : ${listUserRoles}">
        <td th:text="${user_role.id}"></td>
        <td th:text="${user_role.name}"></td>
        <td th:text="${user_role.address}"></td>

        <td>
            <!-- Iterate over the list of employees in the department -->
            <span th:each="user : ${user_role.usersList}" th:text="${user.fullName} + ', '"></span>
        </td>
        <td>
            <!-- Edit button -->
            <form th:action="@{/user_role/showUpdateForm/{id}(id=${user_role.id})}" method="get">
                <button type="submit">Edit</button>
            </form>
            <!-- Delete button -->
            <form th:action="@{/user_role/delete/{id}(id=${user_role.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
