<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>

<form th:action="@{/payment/submit}" th:object="${payment}" method="post">
    <div>
        <label>Payment account:</label>
        <input type="number" name="paymentAccount" required />
    </div>
    <div>
        <label>Payer:</label>
        <input type="text" name="payerName" required />
    </div>
    <div>
        <label>Amount: <span th:text="${invoice.total_price}">Price</span></label>
    </div>
    <div>
        <label>Payment date:</label>
        <input type="date" name="paymentDate" required />
    </div>
    <div>
        <label>Description:</label>
        <input type="text" name="description" required />
    </div>
    <button type="submit">Submit Payment</button>
</form>
</body>
</html>