<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/completepage.css}" />
</head>
<body>
<div class="confirmation-box">
    <div class="icon-container">
        <span class="icon">&#10004;</span>
    </div>
    <h2>Thank You for Your Purchase!</h2>
    <p>Please wait for our confirmation.</p>
    <button class="button" onclick="returnToIndex()">Return</button>
</div>

<script>
    function returnToIndex() {
        window.location.href = '/';
    }
</script>
</body>
</html>