<form th:action="@{/book/submitPayment}" th:object="${invoice}" method="post">
    <div>
        <label>Payment Account:</label>
        <input type="number" name="paymentAccount" required />
    </div>
    <div>
        <label>Payer:</label>
        <input type="text" name="payerName" required />
    </div>
    <div>
        <label>Amount: <span th:text="${currentInvoice.totalPrice}">Price</span></label>
    </div>
    <div>
        <label>Payment Date:</label>
        <input type="date" name="paymentDate" required />
    </div>

    <button type="submit">Submit Payment</button>
</form>
