<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h2>Add User!</h2>
<form th:action="@{/userModel/add}" th:object="${user}" method="post">


    <input type="text"  th:field="*{fullName}" placeholder="Enter Full Name" required><br><br>

    <input type="email" th:field="*{email}" placeholder="Enter Email" required><br><br>

    <input type="date" th:field="*{birthDate}" required><br><br>

    <input type="text" th:field="*{citizenID}" placeholder="Enter Citizen ID" required><br><br>

    <input type="text" th:field="*{phoneNumber}" placeholder="Enter Phone Number" required><br><br>

    <select th:field="*{userRole}">
        <option th:each="userRole : ${userRoles}" th:value="${userRole.getId()}" th:text="${userRole.roleName}"></option>
    </select><br><br>

    <button type="submit">Add User</button>
</form>
</body>
</html>
