<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h2>Update User</h2>
<form th:action="@{/user/update2/{id} (id = ${user.id})}" th:object = "${user}" method="post">

    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" th:field="*{fullName}" placeholder="Enter Full Name" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Enter Email" required disabled><br><br>

    <label for="birthDate">Birth Date:</label>
    <input type="date" id="birthDate" th:field="*{birthDate}" th:value="${user.birthDate}" required><br><br>



    <label for="citizenID">Citizen ID:</label> <!-- Add this line -->
    <input type="text" id="citizenID" th:field="*{citizenID}" placeholder="Enter Citizen ID" required><br><br>

    <label for = "phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Enter Phone Number" required><br><br>

<!--    <select id="userRole" th:field="*{userRole}" required>-->
<!--        <option value="">Select Role</option>-->
<!--        <option th:each="userRole : ${userRoles}" th:value="${userRole.getId()}" th:text="${userRole.roleName}"></option>-->
<!--    </select>-->
    <br><br>

    <button type="submit">Update User</button>
</form>
</body>
</html>
