.button {
    display: inline-block;
    background-color: #327d81;
    color: #fff;
    border: 1px solid #327d81;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #276567;
}

.button:active {
    background-color: #1c4d52;
}

.button-outline {
    display: inline-block;
    background-color: transparent;
    color: #327d81;
    border: 1px solid #327d81;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-outline:hover {
    background-color: #327d81;
    color: #fff;
}

.button-outline:active {
    background-color: #276567;
    border-color: #276567;
}

.account {
    gap: 4rem;
    display: flex;
    justify-content: center;
}

.account-button {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.account-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-list {
    position: absolute;
    right: 6%;
    top: 13%;
    background-color: white;
    padding: .75rem;
    border-radius: .45rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 1000;
}

.account.active > .dropdown-list {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.btt-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btt-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: block;
}

.bg-custom {
    background-color: #f4f6ef;
}

.info .dd-accicon {
    background-color: #327d81;
    color: #fff;
    border: 1px solid #327d81;
    width: 55px;
    height: 55px;
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.accessible a {
    color: #000;
    font-size: 18px;
}

.logout input[type="submit"] {
    border: none;
    background: none;
    padding: 0;
    color: #000;
    font-size: 18px;
}

.signout a {
    color: #000;
    font-size: 18px;
}

.show {
    display: block;
}

.bg-custom {
    background-color: #f4f6ef;
}

.dashboard {
    margin: 100px 225px 200px;
}

.dashboard .db-icon {
    width: 40px;
    height: 40px;
}

.dashboard .db-title h1 {
    font-weight: 700;
}

.dashboard .proj-data .pd-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.dashboard .proj-data .pd-grid .grid-container {
    width: 400px;
    height: 170px;
    background-color: #E9EAE6;
    border: none;
    margin: 10px;
    padding: 15px 10px;
}

.dashboard .proj-data .pd-grid .grid-container .data-info .money .price {
    font-weight: 400;
    font-size: 25px;
}

.dashboard .proj-data .pd-grid .grid-container .data-icon .icon-border {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tours {
    margin: 100px 225px 200px;
}

.tours .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tours .title-part .tours-title .title {
    font-weight: 700;
    font-size: 36px;
}

.users {
    margin: 100px 225px 200px;
}

.users .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users .title-part .users-title .title {
    font-weight: 700;
    font-size: 36px;
}

.tourguides {
    margin: 100px 225px 200px;
}

.tourguides .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tourguides .title-part .tourguides-title .title {
    font-weight: 700;
    font-size: 36px;
}

.users {
    margin: 100px 225px 200px;
}

.users .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users .title-part .users-title .title {
    font-weight: 700;
    font-size: 36px;
}

.tourists {
    margin: 100px 225px 200px;
}

.tourists .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tourists .title-part .tourists-title .title {
    font-weight: 700;
    font-size: 36px;
}

.payment {
    margin: 100px 225px;
}

.payment .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment .title-part .payment-title .title {
    font-weight: 700;
    font-size: 36px;
}

.routes {
    margin: 100px 225px 200px;
}

.routes .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.routes .title-part .routes-title .title {
    font-weight: 700;
    font-size: 36px;
}

.detailroutes {
    margin: 100px 225px 200px;
}

.detailroutes .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailroutes .title-part .routes-title .title {
    font-weight: 700;
    font-size: 36px;
}

.table-wrap table td a.btn {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    width: 100px; /* Adjust as necessary */
}

.setting {
    display: flex;
    justify-content: center;
}

.setting-button {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.setting-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.setting-dropdown {
    position: absolute;
    right: 2%;
    /*top: 13%;*/
    background-color: white;
    padding: .75rem;
    border-radius: .45rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.setting.active > .setting-dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.set {
    color: gray;
}

.addtour {
    margin: 100px 225px 200px;
}

.addtour .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addtour .title-part .addtour-title .title {
    font-weight: 700;
    font-size: 36px;
}

.addtour-form {
    width: auto;
    height: auto;
    border-radius: 25px;
    border: none;
    background-color: #f4f6ef;
    align-items: center;
}

.edittour {
    margin: 100px 225px 150px;
}

.edittour .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edittour .title-part .edittour-title .title {
    font-weight: 700;
    font-size: 36px;
}

.edittour-form {
    width: auto;
    height: auto;
    border-radius: 25px;
    border: none;
    background-color: #f4f6ef;
    align-items: center;
}

.adduser {
    margin: 100px 225px 200px;
}

.adduser .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adduser .title-part .adduser-title .title {
    font-weight: 700;
    font-size: 36px;
}

.listtour {
    margin: 100px 225px 150px;
}

.listtour .title-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listtour .title-part .listtour-title .title {
    font-weight: 700;
    font-size: 36px;
}

.tourprice,
.stday {
    border: none;
    height: 35px;
}

.a-button {
    width: 100px;
    height: 50px;
    padding: 8px 16px;
    background-color: #327d81;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
}

.a-button:hover {
    background-color: #276567;
}

.a-button:active {
    background-color: #1c4d52;
}

.pagination {
    justify-content: center;
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #eee;
}

.pagination .active a {
    background-color: #327d81;
    color: #fff;
    border-radius: 5px;
}

.pagination .disabled a {
    color: #ccc;
    cursor: not-allowed;
}

.pagination .disabled a:hover {
    background-color: #fff;
}
