body {
    background-color: #f4f6ef;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #327d81;
    margin-bottom: 20px;
}

.button {
    background-color: #327d81;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
/*.btn-primary {*/
/*    background-color: #327d81;*/
/*    color: #ffffff;*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*}*/

/*.btn-primary:hover {*/
/*    background-color: #285d5f;*/
/*}*/

.text-success {
    color: #28a745;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #327d81;
    color: white;
}

.btn-warning {
    background-color: #f0ad4e;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-warning:hover {
    background-color: #ec971f;
}

.btn-danger {
    background-color: #d9534f;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c9302c;
}
