.button {
    display: inline-block;
    background-color: #327d81;
    color: #fff;
    border: 1px solid #327d81;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #276567;
}

.button:active {
    background-color: #1c4d52;
}

.button-outline {
    display: inline-block;
    background-color: transparent;
    color: #327d81;
    border: 1px solid #327d81;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-outline:hover {
    background-color: #327d81;
    color: #fff;
}

.button-outline:active {
    background-color: #276567;
    border-color: #276567;
}

.bg-custom {
    background-color: #f4f6ef;
}

.intro {
    margin: 70px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 0; /* No gap between grid items */
    margin: 0;
    padding: 0;
}

.grid-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the start (left) */
    margin-left: 120px;
}

.intro .grid-container .grid-item-left b{
    font-weight: 600;
}

.grid-item-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-right img {
    width: 250px;
    height: 400px;
}

.gray-shape {
    position: absolute;
    width: 400px; /* Adjust width and height as needed */
    height: 200px;
    background-color: #DCDCDC; /* Gray color */
    z-index: -1; /* Place it behind other content */
}

.search {
    margin: 90px;
}

.search .container {
    width: 1000px;
    height: 110px;
    background-color: #DCDCDC;
}

.search .container .col {
    width: 500px;
    height: 85px;
    background-color: #f8f9fa;
}

.search .box-container .col:last-child {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .box-container .col:last-child .button {
    width: 50%;
    height: 60%;
}

.tours {
    margin: 110px;
}

.tours .tours-container {
    max-width: 1250px; /* Adjust as needed */
    margin: 0 auto; /* Centers the container horizontally */
}

.tours .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 0; /* No gap between grid items */
    margin: 0;
    padding: 0;
    justify-content: center;
}

.tours .tours-container h1 {
    font-weight: 500;
}

.tours .container .tour-normal img {
    width: 630px;
    height: 300px;
}

.tours .container .tour-normal .description {
    text-align: justify;
}

.tours .container .tour-flexbox img {
    width: 250px;
    height: 100px;
}

.tours .container .tour-flexbox .txt span,
.tours .container .tour-flexbox .txt p{
    font-size: 15px;
}

.tours .container .tour-flexbox .txt p a{
    text-decoration: none;
    color: black;
}

.feedbacks {
    margin: 110px;
}