.button {
    display: inline-block;
    background-color: #327d81;
    color: #fff;
    border: 1px solid #327d81;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #276567;
}

.button:active {
    background-color: #1c4d52;
}

.button-outline {
    display: inline-block;
    background-color: transparent;
    color: #327d81;
    border: 1px solid #327d81;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-outline:hover {
    background-color: #327d81;
    color: #fff;
}

.button-outline:active {
    background-color: #276567;
    border-color: #276567;
}

.account {
    gap: 4rem;
    display: flex;
    justify-content: center;
}

.account-button {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.account-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-list {
    position: absolute;
    right: 6%;
    top: 13%;
    background-color: white;
    padding: .75rem;
    border-radius: .45rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 1000;
}

.account.active > .dropdown-list {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.btt-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btt-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: block;
}

.bg-custom {
    background-color: #f4f6ef;
}

.info .dd-accicon {
    background-color: #327d81;
    color: #fff;
    border: 1px solid #327d81;
    width: 55px;
    height: 55px;
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.accessible a {
    color: #000;
    font-size: 18px;
}

.logout input[type="submit"] {
    border: none;
    background: none;
    padding: 0;
    color: #000;
    font-size: 18px;
}

.intro {
    margin: 70px;
}

.intro .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 0; /* No gap between grid items */
    margin: 0;
    padding: 0;
}

.grid-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the start (left) */
    margin-left: 120px;
}

.intro .grid-container .grid-item-left b{
    font-weight: 600;
}

.grid-item-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-right img {
    width: 250px;
    height: 400px;
}

.gray-shape {
    position: absolute;
    width: 400px; /* Adjust width and height as needed */
    height: 200px;
    background-color: #DCDCDC; /* Gray color */
    z-index: -1; /* Place it behind other content */
}

.search,
.search-result {
    margin: 100px 225px 100px;
}

.search .container {
    width: 1000px;
    height: 110px;
    background-color: #DCDCDC;
}

.search .container .col {
    width: 500px;
    height: 85px;
    background-color: #f8f9fa;
}
.search h2 {
    font-weight: 700;
    font-size: 45px;
}

.search .box-container .col:last-child {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-button {
    width: 170px;
    height: 70px;
    padding: 8px 16px;
    background-color: #327d81;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
}

.a-button:hover {
    background-color: #276567;
}

.a-button:active {
    background-color: #1c4d52;
}

.search-icon {
    display: inline-block;
    vertical-align: middle;
}

.tours {
    margin: 110px;
}

.tours .tours-container {
    max-width: 1250px; /* Adjust as needed */
    margin: 0 auto; /* Centers the container horizontally */
}

.tours .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 0; /* No gap between grid items */
    margin: 0;
    padding: 0;
    justify-content: center;
}

.tours .tours-container h1 {
    font-weight: 500;
}

.tours .container .tour-normal img {
    width: 630px;
    height: 300px;
}

.tours .container .tour-normal .description {
    text-align: justify;
}

.tours .container .tour-flexbox img {
    width: 250px;
    height: 100px;
}

.tours .container .tour-flexbox .txt span,
.tours .container .tour-flexbox .txt p{
    font-size: 15px;
}

.tours .container .tour-flexbox .txt p a{
    text-decoration: none;
    color: black;
}

.feedbacks {
    margin: 110px 160px;
}

.feedbacks .feedback-container .fb_title .description {
    width: 550px;
    display: inline-block;
}

.feedbacks .feedback-container .fb-features .fb-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 0 35px;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.feedbacks .feedback-container .fb-features .fb-grid .grid-container {
    width: 417px;
    height: 400px;
    background-color: #E9EAE6;
    border: none;
    margin: 10px;
    padding: 15px 10px;
}

.feedbacks .feedback-container .fb-features .fb-grid .grid-container .grid-content {
    padding: 15px 20px;
}

.feedbacks .feedback-container .fb-features .fb-grid .grid-container .grid-content .grid-icon {
    width: 60px;
    height: 60px;
    background-color: lightslategray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.grid-tourist {
    margin-top: 150px;
}
