<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Role Main</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h2>User Role List</h2>
<table border="1">
    <a th:href="@{/role/showAddForm}" class="btn btn-primary"> Add new User Role</a>


    <span th:text="${successMessage}"></span>

    <thead>

    <tr>
        <th>ID</th>
        <th>Role Name</th>

    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of departments -->
    <tr th:each="role : ${listUserRoles}">
        <td th:text="${role.id}"></td>
        <td th:text="${role.roleName}"></td>

        <td>
            <!-- Edit button -->
            <form th:action="@{/role/showUpdateForm/{id}(id=${role.id})}" method="get">
                <button type="submit">Edit</button>
            </form>
            <!-- Delete button -->
            <form th:action="@{/role/delete/{id}(id=${role.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
