<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Role Main</title>
    <link rel="stylesheet" th:href="@{/css/role.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<section th:replace="~{/main_component/header :: header}"></section>
<div class="container">
    <h2>User Role List</h2>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${listUserRoles}">
            <td th:text="${role.id}"></td>
            <td th:text="${role.roleName}"></td>
            <td>
                <form th:action="@{/role/showUpdateForm/{id}(id=${role.id})}" method="get" style="display:inline;">
                    <button type="submit" class="btn-warning">Edit</button>
                </form>
                <form th:action="@{/role/delete/{id}(id=${role.id})}" method="post" style="display:inline;">
                    <button type="submit" class="btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/role/showAddForm}" class="btn-primary"> Add new User Role</a>
    <span th:text="${successMessage}"></span>
</div>

<section th:replace="~{/main_component/footer :: footer}"></section>
</body>
</html>
