<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h2>Admin Page</h2>
<a th:href="@{/route}" class="btn btn-primary" target="_blank"> Go To Route Page</a>
<a th:href="@{/detail}" class="btn btn-primary" target="_blank"> Go To Detail Route Page</a>
<a th:href="@{/tour}" class="btn btn-primary" target="_blank"> Go To Tour Page</a>
<a th:href="@{/invoice}" class="btn btn-primary" target="_blank"> Go To Invoice Page</a>

<form th:action="@{/user/login}" method="post">
    <input type="submit" value="login">
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>



</body>
</html>