<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
<!--    <title>Booked Tours</title>-->
    <link rel="stylesheet" th:href="@{/css/invoice.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/invoice.js}" defer></script>
</head>
<body>
<section th:replace="~{/main_component/header :: header}"></section>
<h1>Booked Tours</h1>

<div class="container" th:each="invoice : ${listInvoice}">
    <div class="card">
        <div class="card-header">
            <img src="@{/img/journey.png}" alt="Default Image" class="card-image">
            <h2 th:text="${invoice.tour.tourName}"></h2>
            <span class="date" th:text="${invoice.paymentDate}"></span>
        </div>
        <div class="card-body">
            <p>Payer: <span th:text="${invoice.payerName}"></span></p>
            <p>Account: <span th:text="${invoice.paymentAccount}"></span></p>
            <p>Status: <span th:text="${invoice.status}"></span></p>
            <p>Total Price: <span th:text="${invoice.totalPrice}"></span></p>
        </div>
        <div class="card-footer" sec:authorize="hasRole('ADMIN')">
            <form th:action="@{'/invoice/updateStatus/' + ${invoice.id}}" method="post">
                <select name="status" class="status-dropdown">
                    <option th:each="status : ${T(com.example.tourmanagement.model.InvoiceStatus).values()}"
                            th:value="${status}" th:text="${status}" th:selected="${status.name() == invoice.status.name()}"></option>
                </select>
                <button type="submit" class="update-button">Update</button>
            </form>
        </div>
    </div>
</div>
<section th:replace="~{/main_component/footer :: footer}"></section>

</body>
</html>
