<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
<h1>Invoices</h1>
<ul th:each="invoice : ${listInvoice}">
    <li>User: <span th:text="${invoice.userModel.fullName}"></span></li>
    <li>Payer:</li>
    <li>PayerAccount:</li>
    <li>Tour: <span th:text="${invoice.tour.tourName}"></span></li>
    <li>Date: <span th:text="${invoice.date}"></span></li>
    <li>
        <!-- Display Status for normal users -->
        <span sec:authorize="!hasRole('ADMIN')">Status: <span th:text="${invoice.status}"></span></span>
        <!-- Admin controls for updating status -->
        <span sec:authorize="hasRole('ADMIN')">
            <form th:action="@{'/invoice/updateStatus/' + ${invoice.id}}" method="post" style="display: inline;">

                <select name="status">
                    <option th:each="status : ${T(com.example.tourmanagement.model.InvoiceStatus).values()}"
                            th:value="${status}" th:text="${status}"
                            th:selected="${status.name() == invoice.status.name()}"></option>
                </select>
                <button type="submit">Update</button>
            </form>
        </span>
    </li>
    <li>Total Price: <span th:text="${invoice.totalPrice}"></span></li>
</ul>
</body>
</html>
